* {
    box-sizing: border-box;
}

html {
    background-color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}

header {
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    color: rgb(228, 97, 97);
}

#about-me h2 {
    color: rgb(255, 255, 255);
}

.work-box {
    border-style: solid;
    border-width: .5px;
    border-radius: 20px;
    padding: 10px;
    flex: 0 0 40px;
    box-shadow: 10px 8px 5px #a35efc;
    margin: 20px;
    background-color: rgb(0, 204, 255);
    color: rgb(0, 0, 0);
  }

.ul1 {
    padding: 0;
    margin: 0;
    list-style: none;
}

.li1 {
    float: left;
}

a {
    padding: 10px;
    width: 10px;
    display: block;
    text-decoration: none;
    color: rgb(228, 97, 97);
    text-transform: uppercase;
    font-weight: bold;
}

.about-me {
    border-style: solid;
    border-width: .5px;
    border-radius: 20px;
    padding: 10px;
    flex: 0 0 40px;
    box-shadow: 10px 8px 5px #a35efc;
    margin: 20px;
    background-color: rgb(40, 212, 255);
    color: black
}


@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}
